body {
    background-color: #f6f8fa;
    color: #4287d5;
    margin: 0;
    margin-top: 70px;
    font-family: sans-serif;
}

.transaction-list-container {
    display: flex;
    justify-content: space-evenly;
}

.transaction-list-inner {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.transaction-list-inner h1 {
    text-align: center;
}

.transaction-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #becfe0;
    border-radius: 3px;
}

.transaction-list-item {
    padding: 10px 40px;
}

.transaction-list-item:nth-child(even) {
    background-color: #f6f8fa;
}

.transaction-list-item:nth-child(even) a {
    color: #4287d5;
    text-decoration: none;
}

.transaction-list-item:nth-child(odd) {
    color: #f6f8fa;
    background-color: #75a7e0;
}

.transaction-list-item:nth-child(odd) a {
    color: #f6f8fa;
    text-decoration: none;
}

.balance-info .form-input {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #becfe0;
    border-radius: 5px;
}

.balance-info .button {
    padding: 20px 30px;
    background-color: #81c43f;
    color: #eee;
    border: 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 24px;
}

.balance-info .button a {
    color: #eee;
    text-decoration: none;
}
